<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Info</title>
</head>
<body>
    <table>
        <tr>
            <td>Name</td>
            <td><%= student.name %></td>
        </tr>
        <tr>
            <td>StudentClass</td>
            <td><%= student.StudentClass %></td>
        </tr>
        <tr>
            <td>theoryScore</td>
            <td><%= student.theoryScore %></td>
        </tr>
        <tr>
            <td>practiceScore</td>
            <td><%= student.practiceScore %></td>
        </tr>
        <tr>
            <td>assessment</td>
            <td><%= student.assessment %></td>
        </tr>
        <tr>
            <td>describe</td>
            <td><%= student.describe %></td>
        </tr>
    </table>
</body>
</html>